@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://rsms.me/inter/inter.css");
html,
body {
  display: flex;
  justify-content: center;

  background: linear-gradient(rgba(32, 36, 44, 0.75), rgba(12, 15, 20, 0.75)),
    url(https://i.imgur.com/i8Do7Ur.png);

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;

  padding: 30px;
  width: 700px;
}

#header {
  font: 800 28px/1 "Rajdhani", sans-serif;
  color: white;

  padding: 20px;
}
#subtitle {
  font: 400 18px/1 "Rajdhani", sans-serif;
  color: #ffffff90;

  padding: 10px 0;
}

#generator {
  display: flex;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px 20px 20px;
}
h3,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h3 {
  display: inline-block;

  font: 800 20px/1 "Rajdhani", sans-serif;
  background: linear-gradient(90deg, #e34949 0%, #ce2a48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  margin: 20px 0 10px 0;
}

#content > ul {
  list-style-type: none;
  font: 700 16px/1 "Rajdhani", sans-serif;
  color: #ffffff;
  padding-inline-start: 0;
}

#content > li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

#content > li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: unicons-line;
  content: "\eb9f";
}

#generator > input {
  flex: 1;

  background: #21262f;

  border: none;
  border-radius: 100px;

  padding: 20px;
  margin: 0 10px 0 0;

  font: 700 18px/1 "Rajdhani", sans-serif;
  color: #ffffff;

  outline: none;
}

button {
  background: linear-gradient(180deg, #4c89d9 0%, #50aeda 100%);

  cursor: pointer;

  box-shadow: 0px 4px 12px rgba(88, 129, 198, 0.4);
  border: none;
  border-radius: 100px;

  padding: 20px;

  font: 800 18px/1 "Rajdhani", sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  color: #ffffff;

  outline: none;
}

a {
  font: 800 16px/1 "Rajdhani", sans-serif;
  background: linear-gradient(180deg, #4c89d9 0%, #50aeda 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  align-self: center;
}

header {
  display: none;
}

.comment {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font: 800 16px/1 "Rajdhani", sans-serif;
}
.comment > .username {
  font: 800 16px/1 "Rajdhani", sans-serif;
  color: white;
}
.comment > .message {
  font: 400 16px/1 "Rajdhani", sans-serif;
  margin: 0 0 0 5px;
}
.comments-list {
  background: #21262f;
  padding: 10px;
}
.comments-form ul {
  list-style-type: none;
  padding-block-start: none;
}
.comments-form > form > ul {
  display: flex;
}
.comments-form > form > ul > li {
  padding: 0;
}
.comments-form li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: unicons-line;
  content: "";
}
.comment-forms {
  display: flex;
  margin: 10px 0 0 0;
  padding: 10px;
  background: #21262f;
}
.comment-forms > .comment {
  flex-grow: 1;
}
.comment-forms > input {
  background: #2d3340;
  border: none;
  /* border-radius: 100px; */

  padding: 10px;
  margin: 0 10px 0 0;

  font: 700 18px/1 "Rajdhani", sans-serif;
  color: #ffffff;

  outline: none;
  resize: none;

  height: 100%;
}
.comment-forms > input:last-child {
  margin: 0;
  height: auto;
}
.thanks {
  display: flex;
  justify-content: center;
  margin: 24px 0 8px 0;
}
.thanks > a {
  font-size: 20px;
}
